@using VendorTracker.Models;
@{
  Layout = "_Layout";
}
<div class="container">
  @if(Model == null)
  {
    <h1>The Vendor Does Not Exist</h1>
  }
  else
  {
    <div class="jumbotron">
      <h1>Welcome to @Model.Name Page</h1>
      <h6>@Model.Description</h6>
    </div>
    <div id="vendorDetails">
      @if(ViewBag.Orders.Count == 0)
      {
        <h1>There are currently no Orders!</h1>
        <hr>
      }
      else
      {
        <ul>
          @foreach (Order o in ViewBag.Orders)
          {
            <li>
              <a href="/orders/details/@o.Id">@o.Title:</a> | <a href="/orders/delete/@o.Id">delete</a>
              <ul>
                <li>Date: @o.OrderDate.ToShortDateString()</li>
                <li>Price: $@o.Price</li>
                @if(@o.Paid)
                {
                  <li>Paid</li>
                }
                else
                {
                  <li>Not Paid</li>
                }
              </ul>
            </li>
          } 
        </ul>
      }
    </div>
      <button class="btn btn-outline-danger" onclick="window.location.href='/orders/create/@Model.Id';">Add a new order</button>
      <button class="btn btn-outline-danger" onclick="window.location.href='/vendors/edit/@Model.Id';">Edit Current Vendor</button>
      <button class="btn btn-outline-danger" onclick="window.location.href='/vendors';">Vendors Page</button>
      <button class="btn btn-outline-danger" onclick="window.location.href='/orders/deleteAll';">Delete All Orders</button>
  }
</div>

@Html.Partial("Header")
@Html.Partial("Footer")
